@using CharacomOnline.ViewModel
@using CharacomOnline.Entity

@inject CharaDataViewModel charaDataViewModel

<h3>CharaDataCheckTree</h3>
<RadzenDataGrid TItem="CharaDataClass" Data="@charaDataViewModel.CharaDataRepository.Appraisals" SelectionMode="DataGridSelectionMode.Single" AllowGrouping="true">
		<Columns>
			<RadzenDataGridColumn>
				<Template>
					<RadzenCheckBox @bind-Value=@value Name="Check1" />
				</Template>
			</RadzenDataGridColumn>
			<RadzenDataGridColumn>
				<Template>
					<RadzenImage Path="@context.ImageUrl" AlternateText="Chara Image" width="30" height="30" />
				</Template>
			</RadzenDataGridColumn>
			<RadzenDataGridColumn Property="CharaName" Title="文字種" />
		</Columns>
	</RadzenDataGrid>

@code {
    [Parameter]
    public CharaDataViewModel CharaDataView { get; set; } = new CharaDataViewModel();
    public 
    
    IEnumerable<object> checkedValues;

		private IList<CharaDataClass> selectedChara;
		private bool value;
    IEnumerable<object> CheckedValues
    {
        get => checkedValues;
        set
        {
            checkedValues = value;
            if (checkedValues != null)
            {
                Console.WriteLine($"CheckedValues Changed {string.Join(Environment.NewLine, value.Select(GetText))}");
            }
        }
    }

    string GetText(object data)
    {
        return data.ToString();
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    void TreeItemRender(TreeItemRenderEventArgs args)
    {
        
    }
}
