@page "/"
@using CharacomOnline.Service
@inject IConfiguration Configuration
@inject AppSettings AppSettings
@inject NavigationManager NavigationManager
@inject SessionStorageService SessionStorage

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>@AppSettings.SUPABASE_URL</p>

<SurveyPrompt Title="How is Blazor working for you?" />

<RadzenText>user: @user</RadzenText>
@code {
	private string? user;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		user = await SessionStorage.GetUserPicture();
		await InvokeAsync(StateHasChanged);
		// TODO: ここは、アプリ全体でログインさせるように変更する
		if (!firstRender) return;
		if (await SessionStorage.IsLoggedInAsync()) return;
		NavigationManager.NavigateTo("/login");
		// ここまで
	}

}