@page "/progress"

<h3>ProgressBar</h3>

<div class="rz-m-12">
    <RadzenProgressBar @bind-Value="@value"/>
</div>
<div class="rz-m-12">
    <RadzenButton Click="async () => await ButtonClick()">Start</RadzenButton>
</div>

@code {
    private double value = 0.0;

    private async Task ButtonClick()
    {
        for (int i=0; i<20; i++)
        {
            value = (double)(i * 5);
            StateHasChanged();
            await Task.Delay(1000);
        }
        
    }

}
