@page "/user-manage"
@using CharacomOnline.ViewModel
@using CharacomOnline.Components
@using CharacomOnline.Entity
@inject UsersViewModel UsersViewModel

<h3>ユーザー管理</h3>

<UsersGrid Users="@users" />

@code {
	private List<UsersTable> users = new ();
	protected override async Task OnInitializedAsync()
	{
		await UsersViewModel.FetchAllUsersAsync();
		users = UsersViewModel.GetAllUserList();
	}
}	
	