@inherits LayoutComponentBase

<PageTitle>CharacomOnline</PageTitle>
<RadzenComponents @rendermode="InteractiveServer" />
<RadzenLayout>
	<MainHeader @bind-SidebarExpanded="parentSidebarExpanded" />
	<NavMenu @bind-SidebarExpanded="parentSidebarExpanded" />
	<RadzenBody>
		<div class="rz-p-4">
			@Body
		</div>
	</RadzenBody>
	<RadzenFooter>
		Footer
	</RadzenFooter>
</RadzenLayout>

@code {
	private bool parentSidebarExpanded = true;
}
