@using CharacomOnline.Entity
@using CharacomOnline.Components

@namespace CharacomOnline.Shared
<div Class="@(PanelExpanded ? "notifications-panel open" : "notifications-panel")">
	<RadzenStack Orientation="Orientation.Vertical" Gap="1rem">
		@if(Notifications != null)
		{
			@foreach (var notification in Notifications)
			{
				<NotificationsCard Title="@notification.Title" Message="@notification.Message" Type="@notification.Type"/>
			}
		}
	</RadzenStack>
</div>

@code {
	[Parameter]
	public bool PanelExpanded { get; set; } = false;
	// バインディングのためのイベントコールバック
	[Parameter]
	public EventCallback<bool> PanelExpandedChanged { get; set; }

	[Parameter]
	public List<Notification>? Notifications { get; set; }
	// RadzenSidebarの状態変更をSidebarExpandedプロパティに反映
	private async Task ToggleSidebar()
	{
		bool newValue = !PanelExpanded;
		await PanelExpandedChanged.InvokeAsync(newValue);
	}
}
